@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap');

body {
    font-family: 'Quicksand', sans-serif;

}

.formRegister{
 background-color:rgb(255 255 255/70%);   
    margin: auto;
    width: 90%;
    max-width: 500px;
    margin-top:  20px ;
    padding: 5px 30px;
    border-radius: 8px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0/30%);
    text-align: center;
}

.registerTitle {
    font-size: rem;
    margin-bottom: .5em;
    color: #01184A;
}

.formContainer {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
    color: #01184A;
}

.formGroup {
    
    position: relative;
    margin-top: 6px;
    color: #01184A;
}

.formInput {
    width: 100%;
    color: #01184A;
    font-size: 1rem;
    margin-top: 6px;
    padding: 6.em 3.em;
    border: none;
    outline: none;
    border-bottom: 1px solid #01184A;

}

.formRegister .fomrLabel {
    color: #01184A;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
 
}


.formBtn {
    background-color: #01184A;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
 }