@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap');

:root {
    --clr-main: #01184A;
    --clr-third: #FFCE08;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navBar {
    display: grid;
    flex-flow: row wrap;
    grid-template-columns: 1fr, 4fr;
    background-color: var(--clr-third);
}

.navbar-brand {
    font-size: 24px;

}

.navbar-brand img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.bi {
    color: rgb(0, 0, 0);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.btn {
    background-color: #01184A;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em .8em;
    border: none;
    border-radius: .5em;
}

.footer {

    grid-area: footer;
    display: block;
    margin-top: auto;
}

.containerFooter {
    min-height: 200px;
    background-color: rgba(250, 247, 243, 0.53);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.sectionCopyRight {
    background-color: rgba(250, 247, 243, 0.53);
    border-top: 1px solid #676b6e;
    color: #C4C4C4;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    text-align: center;
    padding: 2rem 0;

}


.containerUser {
    width: fit-content;
    padding: 24px 12px;
    border-radius: 8px;
    margin: auto;
    background-color: rgba(255, 255, 255, 80%);
    box-sizing: content-box;
    color: #999;

}