@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

:root {
    --clr-main: #01184A;
    --clr-sec: #FD5F00;
    --clr-third: #FFCE08;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}

body {

    background-image: url(./primeraEntrega/images/background.jpeg );
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.navBar {
    display: grid;
    flex-flow: row wrap;
    grid-template-columns: 1fr, 4fr;
    background-color: var(--clr-third);
}

.navbar-brand {
    font-size: 24px;

}

.navbar-brand img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.bi {
    color: rgb(0, 0, 0);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}



.btn {
    background-color: #01184A;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em .8em;
    border: none;
    border-radius: .5em;
}




.containerBooking {
    padding-top: 15px;
    align-items: center;

}

.mainTitleContainer {
    display: flex;
    padding: auto;
    margin-bottom: 10px;
    margin-left: 10px;
}

.containerDatePicker {
    align-items: center;
    padding: 24px 12px;
    margin-left: 120px;
    border-radius: 10px;
    background-color: rgba(250, 247, 243, 0.53);
    box-sizing: content-box;
    color: #999;
    width: fit-content;

}

.containerReservation {
    padding: 24px 12px;
    border-radius: 8px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 80%);
    box-sizing: content-box;
    color: #999;
    width: 900px;

}

.containerMenuCountry {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;

}

.selection {

    padding: 8px 12px;
    color: var(--clr-main);
    border-color: #999;
    border-radius: 5px;
}

.containerMenuCity {

    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}


.form-control {
    color: var(--clr-main);
    margin-bottom: 20px;
}

.logoIcon {
    font-weight: 400;
    font-size: 1.3 rem;

}

.mainTitle {
    color: var(--clr-main);
}

.textTitle {
    color: #676b6e;
    font-size: 20px;
}

label {
    color: #676b6e;
}

.main {
    background-color: white;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 2rem;
}

.btnDate {
    font-weight: 300;
    border-radius: .5rem;
}

.footer {

    grid-area: footer;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.containerFooter {
    min-height: 200px;
    background-color: rgba(250, 247, 243, 0.53);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.sectionCopyRight {
    background-color: rgba(250, 247, 243, 0.53);
    border-top: 1px solid #676b6e;
    color: #C4C4C4;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    text-align: center;
    padding: 2rem 0;

}


.containerUser {
    width: fit-content;
    padding: 24px 12px;
    border-radius: 8px;
    margin: auto;
    background-color: rgba(255, 255, 255, 80%);
    box-sizing: content-box;
    color: #999;

}