@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

:root {
    --clr-main: #01184A;
    --clr-sec: #FD5F00;
    --clr-third: #FFCE08;
    --clr-fourth: #1259B8;
    --cl-fifth: #0FD4C4;



}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navBar {
    display: grid;
    grid-template-columns: 1fr, 4fr;
    background-color: var(--clr-third);
}

.navbar-brand {
    font-size: 24px;
}

.bi {
    color: rgb(0, 0, 0);
}

body {

    background-image: url(./primeraEntrega/images/background.jpeg );

}

.containerBooking {
    padding-top: 15px;

}

.mainTitleContainer {
    display: flex;
    padding: auto;
    margin-bottom: 10px;
    margin-left: 10px;
}

.containerDatePicker {
    padding: 24px 12px;
    border-radius: 8px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 80%);
    box-sizing: content-box;
    color: #999;
    width: 900px;


}

.containerMenuCountry {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.containerMenuCity {

    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

aside {
    padding: 2rem;
    color: white;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logoIcon {
    font-weight: 400;
    font-size: 1.3 rem;

}

.mainTitle {
    color: var(--clr-main);
}

.textTitle {
    font-size: 20px;
}

.textFooter {
    color: white;
    font-size: 1rem;
}

.btn-outline-success {
    color: white;
    background-color: var(--clr-main);
}



.main {
    background-color: white;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 2rem;
}

.text1 {
    color: #999;
}

.btnDate {
    font-weight: 300;
    border-radius: .5rem;
}

.btnCategory {
    color: white
}